target/tmp/jsp/org/apache/jsp/index_jsp.java
target/tmp/jsp/org/apache/jsp/index_jsp.class
target/struts_step5/index.jsp
target/struts_step5/WEB-INF/web.xml
target/struts_step5.war
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.bit.struts2/struts_step5/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/com.bit.struts2/struts_step5/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/classes/struts.xml
target/classes/com/bit/struts2/action/DefaultAction.class
